<!-- @if (error()) {
  <app-error-modal title="An error occurred!" [message]="error()" />
} -->

<header>
  <h1>Köa dina projekt!</h1>
</header>

<main>
  {{saveToken()}}
    @if (currentUser().username) {
      <h2>Välkommen {{currentUser().username}}!</h2>
    }
    @else {
      <a href="{{authLink}}">Logga in med ditt Ravelry-konto</a>
      eller <a href="https://www.ravelry.com/invitations">Skapa ett Ravelry-konto</a>
    }

  <p>Låt dina köade stick- och virkideer lämna hjärnan och ta plats här, med direktkoppling till ditt Ravelry-bibliotek.</p>
  <app-user-intro />
</main>
