@if (error()) {
  <app-error-modal title="An error occurred!" [message]="error()" />
}

<header>
  <h1>Testar lite Ravelry-API</h1>
  <p>
    Create your personal collection of places you would like to visit or you
    have visited.
    <a href="https://www.ravelry.com/oauth2/auth?client_id={{clientId}}&client_secret={{clientSecret}}&redirect_uri={{redirectUrl}}&state=whydoineedthis&response_type=token&scope=offline">jkhll</a>
  </p>
</header>

<main>
  {{saveToken()}}
  <app-user-intro />

 
</main>
<!-- https://www.ravelry.com/oauth2/auth?client_id=358cb5e247f0f68ce9ba43c269763b7d&redirect_uri=https://angular-https.local:4200/&state=lotsofsheep&response_type=token&scope=offline" -->
